name: Tinybird CD

on:
  push:
    branches:
      - main
    paths:
      - "tinybird.json"
      - "src/tinybird/**"
      - "tinybird/**"
      - "**/*.datasource"
      - "**/*.pipe"

jobs:
  tinybird:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run tinybird:build
      - run: pnpm run tinybird:deploy
        env:
          TINYBIRD_TOKEN: ${{ secrets.TINYBIRD_TOKEN }}
